.register-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.register-form__form {
    padding: 15px 30px;
    width: 40vw;
}

.register-form__group {
    margin-bottom: 30px;
}

.register-form__label {
    display: block;
    margin-bottom: 5px;
    height: 35px;
    font-size: 24px;
    font-weight: bold;
}

.register-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 58px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.register-form__error-message {
    margin-top: 5px;
    color: #FF5555;
}

.confirm-form__btn-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
}

.register-form__btn {
    width: 100%;
    height: 65px;
    padding: 8px 32px;
    background-color: #FF5555;
    border-radius: 5px;
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.register-form__link {
    margin-top: 30px;
    color: #0073CC;
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-align: center;
}

/* 1400px ～ 1540pxのPC */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .register-form__form {
        width: 40vw;
        /* PCのフォーム幅 */
    }
}

/* 768px ～ 850pxのタブレット */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .register-form__form {
        width: 65vw;
        /* タブレットのフォーム幅 */
    }
}