html,
body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 20px 30px;
    height: 80px;
    background-color: black;
    border: 1px solid black;
    text-align: center;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header__logo {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* 後ほど設定
.header__link {
    grid-column: 3;
} */

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 60px;
}

.content__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}