html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 0px 40px;
    min-height: 80px;
    background-color: black;
    border: 1px solid black;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header__logo {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
}

.header__logo img {
    width: 100%;
    max-width: 370px;
    height: auto;
}

.header__search {
    grid-column: 2;
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

.search-form__input {
    padding: 8px 50px;
    font-size: 24px;
}

.search-form__input::placeholder {
    color: black;
}

.header__links {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30px;
    gap: 30px;
}

.header__link {
    color: white;
    font-size: 24px;
}

.header__link--sell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 24px;
}

/* ナビ */
.nav {
    display: grid;
    padding: 10px 200px;
    min-height: 80px;
    border-bottom: 2px solid #5F5F5F;
}

.nav__inner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 100px;
}

.nav__inner a {
    color: #5F5F5F;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.nav__inner a.active {
    color: #FF0000;
}

.nav__badge {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #FF0000;
    color: white;
    line-height: 27px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 4px;
    pointer-events: none;
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 55px;
}

.content__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.error-message {
    margin-top: 5px;
    color: #FF5555;
    font-weight: bold;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media (max-width: 850px) and (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        min-height: 140px;
        flex-wrap: wrap;
    }

    .header__logo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .header__search {
        flex: 1;
        max-width: 60%;
        margin-right: 20px;
    }

    .search-form__input {
        padding: 8px 20px;
    }

    .header__links {
        display: flex;
        align-items: center;
        margin: 8px 0;
        gap: 20px;
    }

    .header--logo-only {
        min-height: 80px;
    }

    .nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .nav__inner {
        display: flex;
        justify-content: center;
    }
}