html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 0px 30px;
    min-height: 80px;
    background-color: black;
    border: 1px solid black;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header__logo {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
}

.header__search {
    grid-column: 2;
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

.search-form__input {
    padding: 8px 50px;
    font-size: 24px;
}

.search-form__input::placeholder {
    color: black;
}

.header__links {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.header__link {
    color: white;
    font-size: 24px;
}

.header__link--sell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 24px;
}

/* ナビ */
.nav {
    display: grid;
    padding: 5px 30px;
    min-height: 80px;
    border-bottom: 2px solid #5F5F5F;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.nav__inner {
    grid-column: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav__inner a {
    color: #5F5F5F;
    font-size: 24px;
    font-weight: 700;
}

.nav__tab:nth-child(2) {
    margin-left: 100px;
}

.nav__inner a.active {
    color: red;
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 60px;
}

.content__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}