/* 商品リスト */
.item__list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.item__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.item__card {
    display: flex;
    flex-direction: column;
    max-width: 290px;
}

.item__card-image {
    width: 100%;
    height: 290px;
    border-radius: 4px;
    object-fit: cover;
}

.item__card-title {
    display: flex;
    align-items: center;
    margin-top: 5px;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}

.item__card-label {
    background-color: #e3342f;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 13px;
    border-radius: 30px;
    margin-right: 10px;
    vertical-align: middle;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media (max-width: 850px) and (min-width: 768px) {
    .item__grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}