.item__group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    display: block;
}

.card-body {
    width: 100%;
}

.card-title {
    text-align: left;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 400;
}

.sold-label {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-right: 3px;
}
