/* content のパディングリセット */
.content {
    padding: 0;
}

/* 全体レイアウト */
.message {
    display: flex;
    height: 100%;
}

/* サイドバー */
.message__sidebar {
    width: 300px;
    padding: 10px 40px;
    background-color: #868686;
}

.message__sidebar-list {
    list-style: none;
}

.message__sidebar-title {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.message__sidebar-item {
    margin-bottom: 40px;
    padding: 5px;
    background-color: #EEEFEB;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}

/* メインエリア */
.message__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 90px;
}

/* 取引相手情報 */
.message__trade-partner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 2px solid #5F5F5F;
}

.trade-partner__info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trade-partner__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    object-fit: cover;
}

.trade-partner__name {
    font-size: 36px;
    font-weight: bold;
}

.trade-partner__complete-btn {
    padding: 10px 20px;
    background-color: #FF8282;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.trade-partner__complete-btn:hover {
    background-color: #FF5555;
}

.btn--disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

/* 商品情報 */
.message__trade-item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid #5F5F5F;
    gap: 40px;
}

.trade-item__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.trade-item__name {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: bold;
}

.trade-item__price {
    font-size: 36px;
}

/* チャットメッセージ */
.message__chat {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.message__chat.sent {
    align-self: flex-end;
    text-align: right;
}

.message__chat.received {
    align-self: flex-start;
    text-align: left;
}

/* ユーザー情報*/
.chat__user {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.chat__user--sent {
    justify-content: flex-end;
    flex-direction: row;
}

.chat__user--received {
    justify-content: flex-start;
    flex-direction: row;
}

.chat__username {
    font-weight: bold;
    font-size: 20px;
}

.chat__user-image {
    width: 60px;
    height: 60px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    object-fit: cover;
}

/* メッセージ本文 */
.chat__content {
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #D9D9D9;
    font-size: 18px;
    text-align: left;
}

.chat__image-wrapper {
    margin-top: 10px;
}

.chat__image {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    border: 3px solid #D9D9D9;
    object-fit: cover;
}

.chat__edit-form {
    display: none;
}

.chat__edit-input {
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ccc;
}

.chat__edit-btn {
    margin: 5px 15px 0 0;
    font-size: 15px;
    color: #5555FF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.chat__actions {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.chat__actions-btn {
    margin-right: 15px;
    font-size: 15px;
    color: #5F5F5F;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.chat__empty {
    margin: 15px 25px;
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #D9D9D9;
    font-size: 22px;
    font-weight: bold;
}

/* メッセージ投稿フォーム */
.chat__form {
    display: flex;
    padding: 5px 30px 20px 30px;
    gap: 20px;
}

.fixed-form {
    position: fixed;
    bottom: 0;
    left: 300px;
    width: calc(100% - 300px);
    padding-top: 10px;
    background-color: white;
    z-index: 100;
}

.chat__input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #5F5F5F;
    border-radius: 6px;
    color: #7B7B7B;
    font-size: 20px;
    font-weight: bold;
}

.chat__image-input {
    display: none;
}

.chat__image-btn {
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    color:#FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
}

.chat__submit-icon {
    width: 50px;
    height: 40px;
}

/* エラーメッセージ */
.error-message__chat ul {
    list-style: none;
}

.error-message__chat li {
    margin-bottom: 5px;
}

.error-message__chat {
    padding: 0px 40px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {

    /* サイドバー */
    .message__sidebar {
        width: 200px;
        padding: 10px 20px;
    }

    .message__sidebar-title {
        margin-bottom: 40px;
        font-size: 24px;
    }

    .message__sidebar-item {
        font-size: 18px;
        margin-bottom: 25px;
        padding: 5px;
    }

    /* メインエリア */
    .message__main {
        padding-bottom: 110px;
    }

    /* 取引相手情報 */
    .message__trade-partner {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 15px 20px;
    }

    .trade-partner__name {
        font-size: 28px;
    }

    .trade-partner__complete-btn {
        margin: 0 auto;
        font-size: 18px;
        padding: 8px 16px;
    }

    /* 商品情報 */
    .message__trade-item {
        flex-direction: column;
        padding: 15px 20px;
        gap: 10px;
    }

    .trade-item__name {
        margin-bottom: 10px;
        font-size: 32px;
    }

    .trade-item__price {
        font-size: 24px;
        text-align: center;
    }

    /* チャットメッセージ */
    .message__chat {
        width: 70%;
        padding: 15px;
    }

    .chat__user {
        gap: 15px;
    }

    .chat__user-image {
        width: 55px;
        height: 55px;
    }

    /* メッセージ本文 */
    .chat__content {
        font-size: 16px;
        padding: 10px 15px;
    }

    .chat__image {
        width: 200px;
        height: 200px;
    }

    /* メッセージ投稿フォーム */
    .chat__form {
        padding: 5px 15px 20px 15px;
        gap: 10px;
    }

    .fixed-form {
        left: 200px;
        width: calc(100% - 200px);
    }

    .chat__input {
        font-size: 16px;
    }

    .chat__image-btn {
        font-size: 16px;
        padding: 5px 12px;
    }

    .chat__submit-icon {
        width: 40px;
        height: 35px;
    }

    /* エラーメッセージ */
    .error-message__chat {
        padding: 5px 20px;
    }
}