/* content のパディングリセット */
.content {
    padding: 0;
}

/* 全体レイアウト */
.message {
    display: flex;
    height: 100%;
}

/* サイドバー */
.message__sidebar {
    width: 300px;
    padding: 10px 40px;
    background-color: #868686;
}

.message__sidebar-list {
    list-style: none;
}

.message__sidebar-title {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.message__sidebar-item {
    margin-bottom: 40px;
    padding: 5px;
    background-color: #EEEFEB;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}

/* メインエリア */
.message__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 取引相手情報 */
.message__trade-partner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 2px solid #5F5F5F;
}

.trade-partner__info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trade-partner__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    object-fit: cover;
}

.trade-partner__name {
    font-size: 36px;
    font-weight: bold;
}

.trade-partner__complete-btn {
    padding: 10px 20px;
    background-color: #FF8282;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.trade-partner__complete-btn:hover {
    background-color: #FF5555;
}

.btn--disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

/* 商品情報 */
.message__trade-item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid #5F5F5F;
    gap: 40px;
}

.trade-item__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.trade-item__name {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: bold;
}

.trade-item__price {
    font-size: 36px;
}

/* チャットメッセージ */
.message__chat {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.message__chat.sent {
    align-self: flex-end;
    text-align: right;
}

.message__chat.received {
    align-self: flex-start;
    text-align: left;
}

/* ユーザー情報*/
.chat__user {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.chat__user--sent {
    justify-content: flex-end;
    flex-direction: row;
}

.chat__user--received {
    justify-content: flex-start;
    flex-direction: row;
}

.chat__username {
    font-weight: bold;
    font-size: 20px;
}

.chat__user-image {
    width: 60px;
    height: 60px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    object-fit: cover;
}

/* メッセージ本文 */
.chat__content {
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #D9D9D9;
    font-size: 18px;
    text-align: left;
}

.chat__image-wrapper {
    margin-top: 10px;
}

.chat__image {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    border: 3px solid #D9D9D9;
    object-fit: cover;
}

.chat__edit-form {
    display: none;
}

.chat__edit-input {
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ccc;
}

.chat__edit-btn {
    margin: 5px 15px 0 0;
    font-size: 15px;
    color: #5555FF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.chat__actions {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.chat__actions-btn {
    margin-right: 15px;
    font-size: 15px;
    color: #5F5F5F;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.chat__empty {
    margin: 15px 25px;
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #D9D9D9;
    font-size: 22px;
    font-weight: bold;
}

/* メッセージ投稿フォーム */
.chat__form {
    display: flex;
    padding: 5px 30px 20px 30px;
    gap: 20px;
}

.fixed-form {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 0 0;
    background-color: white;
    z-index: 100;
}

.chat__input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #5F5F5F;
    border-radius: 6px;
    color: #7B7B7B;
    font-size: 20px;
    font-weight: bold;
}

.chat__image-input {
    display: none;
}

.chat__image-btn {
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    color:#FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
}

.chat__submit-icon {
    width: 50px;
    height: 40px;
}

/* エラーメッセージ */
.error-message__chat ul {
    list-style: none;
}

.error-message__chat li {
    margin-bottom: 5px;
}

.error-message__chat {
    padding: 5px 40px;
}

/* モーダル */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal__content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FDFCE6;
    border: 1px solid black;
    border-radius: 15px;
}

.modal__title {
    padding: 20px 30px;
    text-align: left;
    font-size: 35px;
    font-weight: normal;
    border-bottom: 1px solid black;
}

.review-form {
    padding: 20px 30px;
}

.review-form__comment {
    font-size: 20px;
    color: #868686;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 100px;
    cursor: pointer;
}

.star {
    color: #D9D9D9;
    transition: color 0.2s;
}

.star.active {
    color: #FFF048;
}

.modal__btn {
    padding: 20px 30px;
    border-top: 1px solid black;
    text-align: right;
}

.modal__btn-submit {
    padding: 10px 20px;
    background-color: #FF8282;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    transition: background-color 0.3s;
}

.modal__btn-submit:hover {
    background-color: #FF5555;
}

.error-message__review {
    margin-left: 15px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
}